
.pidb.meta

Temp/

Library/

*.sln

*.csproj

.vsconfig

Logs/

.vs/

obj/

build/

sysinfo.txt

[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db